@import url('https://fonts.googleapis.com/css?family=Bitter|Luckiest+Guy&display=swap');

/* font-family: 'Luckiest Guy', cursive;
font-family: 'Bitter', serif; */

body {
	background-color: #f3f3f3;
	font-family: 'Bitter', serif;
}

.hero-text h1 {
	font-family: 'Luckiest Guy', cursive;
}

.hero-text p {
	font-family: 'Bitter', serif;
}
